* {
    margin: 0;
    padding: 5px 0 0;
}

.center-text{
    align-content: center;
    text-align: center;
}

#round-corners {
    background-color: #67ccff;
    width: 200px;
    height: 80px;
    border-radius: 8%;
    margin: auto;
}

#bg-gradient {
    width: 200px;
    height: 80px;
    border-radius: 8%;
    background-image: linear-gradient(to top right, #67ccff, aliceblue);
    margin: auto;
}

#shadows {
    background-color: #67ccff;
    width: 200px;
    height: 80px;
    border-radius: 8%;
    box-shadow: burlywood;
    margin: auto;
}



