@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }


}

/*@media (min-width: 600px) {*/
/*    .container {*/
/*        max-width: 600px;*/
/*    }*/

/*}*/

.table-container {
    border: 1px solid #3379b6;
    border-radius: 4px;
    min-width: 320px;
}

.table-container-head {
    background-color: #3379b6;
    color: white;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.note {
    border: 1px solid #d8ebf5;
    border-radius: 4px;
    min-width: 320px;

}

.note-head {
    background-color: #d8ebf5;
    padding: 10px;
    color: #1f6c92;
    min-width: 320px;

}

.sub-note {

}

.note-btn {
    color: white;
    background-color: #67ccff;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    border-style: none;
    font-size: smaller;
    margin-left: 10px;
}
